<div class="container">
  <div class="row">
    <div class="col-xs-12">
     <h1 appBackgroundColor>Direttiva Custom</h1>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
     <h1 appDirettivaCustom background="blue" coloreDiEnter="red">Direttiva Custom</h1>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12" *appSimilIf="value">
     <h1 >Direttiva Custom *ngIf</h1>
    </div>
  </div>
</div>
